<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anime Book Club</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="pick-genre">
    <div class="header">Genre</div>
    <div>
      <span>Next Week's Genre:</span>
      <span id="genre"></span>
    </div>
    <button id="generate">Generate</button>
    <button id="showAllGenre">Show All</button>
    <div id="allGenre"></div>
  </div><!-- .pick-genre -->
  <hr>
  <script src="../js/script.js" type="module"></script>
</body>
</html>